* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
  }

html, body{
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}
 
.nav {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

.nav-part2 {
    display: flex;

}